body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
    background-color: #f4f4f4; /* Light grey background for the whole page */
}
.about-me {
    background: url('IMG-20240910-WA0002.jpg') no-repeat center center; /* Background image */
    background-size: cover;
    color: white;
    padding: 40px;
    text-align: center;
    animation: fadeIn 2s ease-in-out; /* Apply fade-in animation */
}
@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}
.section {
    padding: 20px;
    background-color: white; /* White background for content sections */
    margin: 10px;
    border-radius: 8px; /* Rounded corners for the sections */
    box-shadow: 0 2px 5px rgba(0,0,0,0.1); /* Subtle shadow for 3D effect */
}
.icon {
    vertical-align: middle;
    margin-right: 10px;
}
a {
    color: #1a0dab; /* Google link blue */
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
ul {
    list-style-type: none; /* No bullets for the list */
    padding: 0;
}
li {
    margin-bottom: 10px; /* Space between list items */
}
